<div class="d-flex justify-content-between p-2 bg-secondary bg-opacity-10 border-bottom">
  <%= link_to "Wikinimous", articles_path(), class: "nav-link p-2 text-secondary fs-5" %>
  <%= link_to "New Article", new_article_path(), class: "nav-link p-2 text-secondary fs-5" %>
</div>

<div class="container mx-auto pt-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1><%= @article.title %></h1>
    </div>
    <div class="col-8 border-bottom mb-4">
      <%= link_to edit_article_path(@article), class: "fs-4 text-decoration-none d-inline pe-3" do %>
        <i class="fa-solid fa-pencil"></i>
      <% end %>
      <%= link_to article_path(@article),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      class: "fs-4 text-decoration-none" do %>
        <i class="fa-solid fa-trash-can d-inline"></i>
      <% end %>
    </div>
    <div class="col-8">
      <p><%= @article.content %></p>
    </div>
  </div>
</div>
